<#include "managebots_tabs.html" />
<@tabs2 tab="recastbot" />

<@box>
	<@boxHeader title='#i18n{recastbots.manage_recastbot.title}' boxTools=true>
		<@tform class='form-inline pull-right' name='manage_recastbot' action='jsp/admin/plugins/recastbots/ManageRecastBots.jsp'>
			<@button type='submit' name='view_createRecastBot' buttonIcon='plus' title='#i18n{recastbots.manage_recastbots.buttonAdd}' />
		</@tform>
	</@boxHeader>
	<@boxBody>    
    <@messages infos=infos />
    <@paginationAdmin paginator=paginator combo=1 />
    <div class="clearfix"></div>
    <@table>
        <tr>
            <input type="hidden" id="id" name="id"/>
            <th>#i18n{recastbots.manage_recastbots.columnBotKey}</th>
            <th>#i18n{recastbots.manage_recastbots.columnName}</th>
            <th>#i18n{recastbots.manage_recastbots.columnDescription}</th>
            <th>#i18n{recastbots.manage_recastbots.columnAvatarUrl}</th>
            <th>#i18n{recastbots.manage_recastbots.columnLanguage}</th>
            <th>#i18n{recastbots.manage_recastbots.columnBotStatus}</th>
            <th>#i18n{recastbots.manage_recastbots.columnToken}</th>
            <th>#i18n{portal.util.labelActions}</th>
        </tr>
        <@tableHeadBodySeparator />
            <#list recastbot_list as recastbot >
        <tr>
            <input type="hidden" id="id" name="id"/>
            <td>
                ${recastbot.botKey}
            </td>
            <td>
                ${recastbot.name}
            </td>
            <td>
                ${recastbot.description}
            </td>
            <td>
                ${recastbot.avatarUrl}
            </td>
            <td>
                ${recastbot.language}
            </td>
            <td>
            <#if recastbot.botStatus = 0>
                <span class="label label-danger">#i18n{recastbots.bot_status.disabled}</span>
            <#else>
                <span class="label label-success">#i18n{recastbots.bot_status.enabled}</span>
            </#if>
            </td>
            <td>
                ${recastbot.token}
            </td>
        <td>
			<@aButton href='jsp/admin/plugins/recastbots/ManageRecastBots.jsp?view=modifyRecastBot&id=${recastbot.id}' title='#i18n{portal.util.labelModify}' buttonIcon='pencil' showTitle=false />
						
			<@aButton href='jsp/admin/plugins/recastbots/ManageRecastBots.jsp?action=confirmRemoveRecastBot&id=${recastbot.id}' title='#i18n{portal.util.labelDelete}' buttonIcon='trash' color='btn-danger' showTitle=false />

        </td>
        </tr>
        </#list>
    </@table>

    <@paginationAdmin paginator=paginator />

  </@boxBody>
</@box>
